@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.lato-regular {
    font-family: "Lato", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  


.fa-facebook{
    font-size: 30px;
    color: #1877F2;
    /* background-color: white; */
}

.fa-youtube{
    font-size: 30px;
    color: red;
}

.fa-square-x-twitter{
    font-size: 30px;
}

.active{
    background-color: green;
}
